@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Source+Sans+Pro:wght@300&display=swap');

@import "~bootstrap/scss/bootstrap";

.red {
    fill: red;
    stroke: red;
}

.green {
    fill: green;
    stroke: green;
}

.yellow {
    fill: yellow;
    stroke: yellow;
}
